.btn {
  font-weight: bold;
  padding: $spacer;
  border-radius: $spacer;
  background-color: $blue--dark;
  color: $white;
  transition: .5s ease;

  a:hover, &:hover {
    text-decoration: none;
    color: $blue--light;
  }
}