// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors

$white:       rgb(255,253,250);
$black:       rgb(0,0,0);

$blue:        rgb(31,148,195);
$blue--dark:  rgb(15,29,73);
$blue-dark2:  rgb(20,38,97);
$blue--light: rgb(206,232,240);

$grey:        rgb(128, 128, 128);
$grey--light: rgb(230,230,230);

$purple:      rgb(109,66,114);

//typography

$branding-font: normal 36px/1 "Cormorant Garamond", serif;
$heading-font: "Roboto", sans-serif;